[submodule "tgbot_fragment"]
	path = tgbot_fragment
	url = https://github.com/anaserkinov/tgbot_fragment.git
[submodule "sqlite_cpp"]
	path = sqlite_cpp
	url = https://github.com/anaserkinov/sqlite_cpp.git
